<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-white">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Register Profile</h3>
          </div>
          <div class="panel-body p-3">
            <form [formGroup]="registerProfileForm">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="registerProfileForm.controls['firstName'].dirty && registerProfileForm.hasError('required','firstName')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="firstName" type="text" placeholder="First Name">
                </div>
              </div>
              <small *ngIf="registerProfileForm.controls['firstName'].dirty && registerProfileForm.hasError('required','firstName')" class="text-danger">*First Name is required</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="registerProfileForm.controls['lastName'].dirty && registerProfileForm.hasError('required','lastName')">
                  <span class="fa fa-user p-2"></span>
                  <input formControlName="lastName" type="text" placeholder="Last Name">
                </div>
              </div>
              <small *ngIf="registerProfileForm.controls['lastName'].dirty && registerProfileForm.hasError('required','lastName')" class="text-danger">*Last Name is required</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="registerProfileForm.controls['phone'].dirty && registerProfileForm.hasError('required','phone')">
                  <span class="fa fa-phone p-2"></span>
                  <input formControlName="phone" type="text" placeholder="Phone">
                </div>
              </div>
              <small *ngIf="registerProfileForm.controls['phone'].dirty && registerProfileForm.hasError('required','phone')" class="text-danger">*Phone is required</small>
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="registerProfileForm.controls['email'].dirty && registerProfileForm.hasError('required','email')">
                  <span class="fa fa-envelope p-2"></span>
                  <input formControlName="email" type="text" placeholder="Email">
                </div>
              </div>
              <small *ngIf="registerProfileForm.controls['email'].dirty && registerProfileForm.hasError('required','email')" class="text-danger">*Email is required</small>
              <!-- <div class="form-group pt-3">
                <div class="input-field">
                  <span class="fa fa-lock p-2"></span>
                  <input [type]="type" placeholder="Password">
                  <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div>
              </div> -->
              <!-- <button (click)="goToRegister()" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button> -->
              <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onRegisterProfile()">Register</button>
              <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
            </form>
          </div>
          <!-- <div class="mx-3 my-2 py-2 bordert">
            <div class="text-center py-3">
              <a href="https://www.facebook.com" target="_blank" class="px-2"> <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""></a>
              <a href="https://www.google.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" alt=""> </a>
              <a href="https://www.github.com" target="_blank" class="px-2"> <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" alt=""> </a>
            </div>
          </div> -->
        </div>  
      </div>
    </div>
  </div>
</div>











<!-- <div class="register-profile-container d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h2 class="mb-3">Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" id="first_name" name="first_name" [(ngModel)]="user.firstName" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" id="last_name" name="last_name" [(ngModel)]="user.lastName" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone:</label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="user.phone" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div> -->
